@media (max-width: 500px) {
  .randomImage {
    display: none;
  }
}

@media (min-width: 451px) and (max-width: 875px) {
  .randomImage {
    display: none;
  }
  .login_page {
    height: 80vh;
  }
  .logIn_container {
    background-color: white;
    width: 350px;
    height: 380px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 40px auto 0;
  }
  #signUp_cont {
    align-items: center;
    background-color: white;
    width: 350px;
    height: 63px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin-top: 10px;
  }
  .footer-language-copyright {
    word-spacing: 0;
  }
}

@media (min-width: 876px) {
  .main_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }
  .randomImage {
    display: show;
    width: 454px;
    height: 618px;
    align-self: baseline;
    margin-left: -15px;
  }
  .login_page {
    margin-left: -15px;
  }
  .logIn_container {
    background-color: white;
    width: 350px;
    height: 380px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
  }
  #signUp_cont {
    align-items: center;
    background-color: white;
    width: 350px;
    height: 63px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin-top: 10px;
  }
  .footer-language-copyright {
    word-spacing: 0;
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.login_page .logIn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_page .logIn_container .logo_ig {
  width: 185px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 21px auto 11px;
}

.login_page .logIn_container .formLogIn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_page .logIn_container .name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  width: 260px;
  height: 20px;
  padding: 9px 0 7px 9px;
  margin-bottom: 6px;
  background-color: #fafafa;
  line-height: 18px;
  cursor: text;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}

.login_page .logIn_container .password {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  width: 260px;
  height: 20px;
  padding: 9px 0 7px 9px;
  background-color: #fafafa;
  line-height: 18px;
  cursor: text;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}

.login_page .logIn_container .name:focus {
  background-color: #e8f0fe;
  outline: none;
}

.login_page .logIn_container .password:focus {
  background-color: #e8f0fe;
  outline: none;
}

.login_page .logIn_container ::placeholder {
  font-size: 0.75rem;
  margin: 0px;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login_page .logIn_container .logInButton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  background-color: #b2dffc;
  border-radius: 5px;
  border: 0px;
  width: 270px;
  height: 30px;
  color: white;
  margin-top: 15px;
}

.login_page .logIn_container .logInButton:focus {
  outline: none;
}

.login_page .logIn_container .barsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 15px;
}

.login_page .logIn_container .leftBar {
  height: 0.5px;
  width: 107px;
  background-color: #dbdbdb;
}

.login_page .logIn_container .rightBar {
  height: 0.5px;
  width: 107px;
  background-color: #dbdbdb;
}

.login_page .logIn_container .orWord {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #8e8e8e;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.login_page .logIn_container .facebookIcon {
  width: 16px;
  height: 16px;
}

.login_page .logIn_container .footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.login_page .logIn_container .facebookIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.login_page .logIn_container a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: #385185;
}

.login_page .logIn_container p {
  text-align: center;
  font-size: 12px;
  margin-top: 21px;
}

.signUp_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.signUp_container p {
  margin: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.signUp_container .linkSignUp {
  text-decoration: none;
  font-weight: 500;
}

.signUp_container .linkSignUp:link {
  color: #0095f6;
}

.signUp_container .linkSignUp:visited {
  color: #0095f6;
}

.signUp_container .linkSignUp:hover {
  color: #0095f6;
}

.signUp_container .linkSignUp:active {
  color: #0095f6;
}

.getTheApp_container {
  text-align: center;
  margin-top: 20px;
}

.getTheApp_container p {
  margin: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.stores_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.stores_container .apple {
  width: 135px;
  height: 40px;
  margin-right: 8px;
}

.stores_container .android {
  width: 135px;
  height: 40px;
}

.footerlinks {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  margin-top: 68px;
  line-height: 20px;
}

.footerlinks .footerLinksFirstLine {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.footerlinks .footerLinksFirstLine a {
  margin-right: 17px;
}

.footerlinks .footerLinksSecondLine {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.footerlinks .footerLinksSecondLine a {
  margin-right: 12px;
}

.footerlinks a {
  text-decoration: none;
  color: #8e8e8e;
}

.footer-language-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #8e8e8e;
}

.footer-language-copyright p {
  word-spacing: 0;
}

select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  background-color: #fafafa;
  border: 0;
  color: #8e8e8e;
  cursor: pointer;
}

select:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */